{% extends "base.html" %}

{% block content %}
  <h2>Employe Detail</h2>
  <p>ID Employe: {{ employe.IdEmploye }}</p>
  <p>Nom: {{ employe.Nom }}</p>
  <p>Prenom: {{ employe.Prenom }}</p>
  <p>Nationalite: {{ employe.Nationalite }}</p>
  <p>Carte d'Identite: {{ employe.CarteIdentite }}</p>
  <p>Phone: {{ employe.Phone }}</p>
  <p>Etat: {{ employe.Etat }}</p>
  <a href="{% url 'employe-update' employe.pk %}">Edit Employe</a>
  <a href="{% url 'employe-delete' employe.pk %}">Delete Employe</a>
{% endblock %}
